* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

.calculadora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.botones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.botones button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
}